* {
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 50px;
  background: rgb(138, 16, 52);
}

.btn-colors {
  display: block;
  border-radius: 10px;

  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.container {
  background: white;
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.container div {
  box-sizing: border-box;
  border: 1px solid grey;
  flex: 1 10px;
}
